 <a href="/addtasks" class="btn btn-add btn-lg active" id="btn-add" role="button" aria-pressed="true">Adicionar Tarefa +</a>
<div class="containerTasks">
 <div class="d-flex flex-wrap">
      {{#each show}}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.dataFormatada}}</h6>
            <p class="card-text">{{this.description}}</p>
            <div id="boxbtn">
              <form action="/delete" method="POST">
                <input type="hidden" name="_id" id="_id" value="{{this._id}}" />
                <button class="delete" id="btn-del"><i
                    class="bi bi-trash"
                  ></i></button>
              </form>
              <form action="/edit" method="post">
                <input type="hidden" name="_id" id="_id" value="{{this._id}}" />
                <button class="edit" id="btn-edit"><i
                    class="bi bi-pencil"
                  ></i></button>
              </form>
              <h5 class="card-title">{{this.urgency}}</h5>
            </div>
          </div>
        </div>
      {{/each}}
    
  </div>
